    <header class="header">
      <a href="/" class="logo">EL PANEL DEL SOL</a>

        <nav class="navbar">
        <a href="/" style="--i:1;">Inicio</a>
        <a href="/masinformacion" style="--i:2;">Mas informacion</a>
        <a href="/quienessomos" style="--i:3;">Quienes somos</a>
        <a href="/novedades" style="--i:4;">Novedades</a>
        <a href="/contacto" style="--i:5;" class="active">Contacto</a>
        </nav>

      <div class="social-media">
        <a href="#" style="--i:1;"><i class='bx bxl-instagram'></i></a>
        <a href="#" style="--i:2;"><i class='bx bxl-facebook-circle' ></i></a>
        <a href="#" style="--i:3;"><i class='bx bxl-whatsapp' ></i></a>
      </div>
    </header>

    <section class="inicio">
      <div class="inicio-content">
        <h1>¿NECESITAS ASESORARTE CON ALGUN PERSONAL A CARGO?</h1>
        <h3>¡Envianos un mail!</h3>
        <form action="https://formsubmit.co/0b094fa6a3860ac4a9498380dd650934" method="POST">
            <input type="text" name="name" required placeholder="Nombre">
            <input type="email" name="email" required placeholder="Email">
            <input type="text" name="subject" required placeholder="Celular">
            <textarea name="message" required placeholder="Mensaje"></textarea>
            <input type="hidden" name="_captcha" value="false">
            <button type="submit" class="send-btn">Enviar</button> 
        </form>
      </div>

      <div class="contactanos-img">
        <div class="rhombus6">
          <img src="images/contactanos.png" alt="">
        </div>
      </div>

      <div class="rhombus2"></div>

      
    </section>
  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Benjamin Tedesco</small>
    </div>
  </footer>