    <header class="header">
      <a href="/" class="logo">EL PANEL DEL SOL</a>

        <nav class="navbar">
        <a href="/" style="--i:1;" class="active">Inicio</a>
        <a href="/masinformacion" style="--i:2;">Mas informacion</a>
        <a href="/quienessomos" style="--i:3;">Quienes somos</a>
        <a href="/novedades" style="--i:4;">Novedades</a>
        <a href="/contacto" style="--i:5;">Contacto</a>
        </nav>

      <div class="social-media">
        <a href="#" style="--i:1;"><i class='bx bxl-instagram'></i></a>
        <a href="#" style="--i:2;"><i class='bx bxl-facebook-circle' ></i></a>
        <a href="#" style="--i:3;"><i class='bx bxl-whatsapp' ></i></a>
      </div>
    </header>

    <section class="inicio">
      <div class="inicio-content">
        <h1>¡EL NUEVO SEGUIDOR SOLAR YA ESTA ACA!</h1>
        <h3>¡Nuevo proyecto en camino!</h3>
        <p>El proyecto en desarrollo se centra en un seguidor solar que optimiza la captación de energía solar mediante un sistema de seguimiento automatizado. Este innovador diseño incluye un brazo con dos servomotores y resistencias LDR, complementado con un panel solar. Una placa Arduino Uno en la base del seguidor solar alberga la programación necesaria para su funcionamiento. La característica distintiva del proyecto radica en la inclusión de una base de datos que registra mediciones críticas del panel solar, como batería, potencia, corriente, voltaje y luz absorbida. Estos datos se almacenan en una memoria SD, lo que permite su posterior análisis en una computadora. La finalidad principal es maximizar la eficiencia de la generación de energía solar.</p>
        <p>Ofreceremos un sistema de seguidor solar donde montaremos un brazo con dos ejes que va a apuntar en la dirección donde haya mayor cantidad de luz, esto se lograra gracias a un software que comparara señales de luz y que se encargara de direccionar el brazo a la posición más adecuada.</p>
        <p>Nos encargaremos de brindar un servicio de instalación acorde a las condiciones del lugar donde se quiere instalar nuestro sistema, así como un mantenimiento en caso de fallas durante los 3 primeros años desde la instalación.</p>
        <a href="/masinformacion" class="btn">Quiero saber mas</a>
      </div>

      <div class="inicio-img">
        <div class="rhombus">
          <img src="images/solarpanel.png" alt="">
        </div>
      </div>

      <div class="rhombus2"></div>
    </section>

