    <header class="header">
      <a href="/" class="logo">EL PANEL DEL SOL</a>

        <nav class="navbar">
        <a href="/" style="--i:1;">Inicio</a>
        <a href="/masinformacion" style="--i:2;" class="active">Mas informacion</a>
        <a href="/quienessomos" style="--i:3;">Quienes somos</a>
        <a href="/novedades" style="--i:4;">Novedades</a>
        <a href="/contacto" style="--i:5;">Contacto</a>
        </nav>

      <div class="social-media">
        <a href="#" style="--i:1;"><i class='bx bxl-instagram'></i></a>
        <a href="#" style="--i:2;"><i class='bx bxl-facebook-circle' ></i></a>
        <a href="#" style="--i:3;"><i class='bx bxl-whatsapp' ></i></a>
      </div>
    </header>

    <section class="inicio">
      <div class="inicio-content">
        <h1>SEGUIDOR SOLAR</h1>
        <h3>¿Por que nacio este proyecto?</h3>
        <p>Durante décadas, los combustibles fósiles han sido la fuente principal de energía para diversas actividades humanas. Sin embargo, año tras año, su agotamiento y los perjudiciales impactos ambientales que generan, como el cambio climático y la contaminación, se vuelven cada vez más evidentes y significativos. Esta situación se agrava debido a la limitada disponibilidad de estos recursos y a la influencia de unos pocos países productores, lo que implica riesgos económicos y geopolíticos.</p>
        <p>La creciente urgencia por soluciones energéticas sostenibles y amigables con el medio ambiente es innegable. En este contexto, la energía solar generada a través de paneles solares ha avanzado considerablemente, emergiendo como una opción viable en diversos lugares del mundo. No obstante, a pesar de su innegable potencial, la adopción generalizada de la energía solar enfrenta una serie de obstáculos y barreras que deben ser abordados de manera precisa y eficiente para lograr una transición efectiva hacia esta fuente de energía renovable.</p>
        <p>En este sentido, es importante que nuestra propuesta no solo identifique los desafíos que obstaculizan la adopción masiva de la energía solar, sino que también brinde soluciones claras y estratégicas para superarlos. Con este objetivo en mente, el presente proyecto se enfoca en analizar, diseñar, optimizar y promover iniciativas que aceleren la adopción de la energía solar a gran escala, teniendo en cuenta tanto los aspectos técnicos como los factores sociales y económicos involucrados.</p>
        <a href="/contacto" class="btn">Me gustaria asesorarme</a>
      </div>

      <div class="masinformacion-img">
        <div class="rhombus3">
          <img src="images/energy.png" alt="">
        </div>
      </div>

      <div class="rhombus2"></div>
    </section>

  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Benjamin Tedesco 2023</small>
    </div>
  </footer>