    <header class="header">
      <a href="/" class="logo">EL PANEL DEL SOL</a>

        <nav class="navbar">
        <a href="/" style="--i:1;">Inicio</a>
        <a href="/masinformacion" style="--i:2;">Mas informacion</a>
        <a href="/quienessomos" style="--i:3;">Quienes somos</a>
        <a href="/novedades" style="--i:4;" class="active">Novedades</a>
        <a href="/contacto" style="--i:5;">Contacto</a>
        </nav>

      <div class="social-media">
        <a href="#" style="--i:1;"><i class='bx bxl-instagram'></i></a>
        <a href="#" style="--i:2;"><i class='bx bxl-facebook-circle' ></i></a>
        <a href="#" style="--i:3;"><i class='bx bxl-whatsapp' ></i></a>
      </div>
    </header>

    <section class="inicio">
      <div class="inicio-content">
        <h1>NOVEDADES</h1>
        <h3>¡Ultima actualizacion del proyecto!</h3>
        <p>Parche 0.5 1825 : Modo de promocion del producto</p>
        <p>Nuestro producto se promocionará principalmente mediante visitas que haremos a instituciones o talleres, o demás lugares donde puedan utilizarlo, además utilizaremos las redes sociales donde tendremos una mayor visualización a nivel nacional, e incluso internacional (Facebook, Instagram, etc.), sin embargo, también incluiremos una página web para que los clientes puedan informarse más sobre el tema, comunicarse con nosotros, y saber cómo utilizar el seguidor solar, además de poder adquirir el producto, en caso de que se necesite envío este lo pagará el cliente.</p>
        <p>¡Seguinos en nuestras redes sociales para estar al dia con el proyecto!</p>
        <a href="/" class="btn">Volver al inicio</a>
      </div>

      <div class="novedades-img">
        <div class="rhombus4">
          <img src="images/novedades.png" alt="">
        </div>
      </div>

      <div class="rhombus2"></div>
    </section>
  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Benjamin Tedesco</small>
    </div>
  </footer>