    <header class="header">
      <a href="/" class="logo">EL PANEL DEL SOL</a>

        <nav class="navbar">
        <a href="/" style="--i:1;">Inicio</a>
        <a href="/masinformacion" style="--i:2;">Mas informacion</a>
        <a href="/quienessomos" style="--i:3;" class="active">Quienes somos</a>
        <a href="/novedades" style="--i:4;">Novedades</a>
        <a href="/contacto" style="--i:5;">Contacto</a>
        </nav>

      <div class="social-media">
        <a href="#" style="--i:1;"><i class='bx bxl-instagram'></i></a>
        <a href="#" style="--i:2;"><i class='bx bxl-facebook-circle' ></i></a>
        <a href="#" style="--i:3;"><i class='bx bxl-whatsapp' ></i></a>
      </div>
    </header>

    <section class="inicio">
      <div class="inicio-content">
        <h1>ACERCA DE NOSOTROS</h1>
        <h3>¡Te contamos quienes somos!</h3>
        <p>Somos un grupo de estudiantes de la escuela San pablo 2073, que busca implementar en la sociedad de hoy en dia, un proyecto que cambie por completo la perspectiva de la gente hacia las energias renovables como lo es la energia solar, para esto presentamos el PANEL DEL SOL...</p>
        <a href="/" class="btn">Volver al inicio</a>
      </div>

      <div class="nosotros-img">
        <div class="rhombus5">
          <img src="images/nosotros.png" alt="">
        </div>
      </div>

      <div class="rhombus2"></div>
    </section>

  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Benjamin Tedesco</small>
    </div>
  </footer>